opencv-python
numpy
ultralytics
torch
torchvision
open-clip-torch
chromadb
fastapi
uvicorn[standard]
python-dotenv
google-generativeai
python-multipart
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
